.header p {
    font-size: 33px;
    color: #fff;
    line-height: 70px;
    font-weight: bold;
    background: #000;
    text-align: center;
    margin-bottom: 0px;
}
.container{
    width: 90% !important;
    margin: auto;
    display: flex;
}
.starterTemplate {
    padding: 5px 15px;
    width: 90% !important;
    margin: auto;
}
.heading{
    color: red;
}
.studDetail {
    width: 80%;
}